body{
    background-color: beige;
}

h2{
    font-size: 30px;
}

.divEncabezado{
    margin:  0 auto;
    width: 900px;
    text-align: center;
}
.divCentral{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
}

.divCentral h3{
    margin-left: 30px;
}
.ulMatriculas{
    background-color: rgb(236, 225, 165);
    border-radius: 5px;
    width: 300px;
    height: 245px;
}

.ulMatriculas li{
    margin-left: 80px;
    margin-bottom: 10px;
    margin-right: 120px;
    font-size: 20px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    list-style: none;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

.divFormulario{
    margin: 0 auto;
    width: 700px;
    height: 270px;
    background-color: white;
    border-radius: 5px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input{
    margin-top: 40px;
    height: 30px;
    width: 400px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

.formulario button{
    margin-top: 50px;
    height: 40px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.formulario button:hover{
    background-color: rgb(236, 225, 165);
    color: black;
}

.divBotones{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    height: 120px;
    width: 120px;
}

.tabla{
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    align-items: center;
}

.tabla th{
    font-size: 25px;
}

.tabla td{
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}